version: '3.9'

volumes:
  mariadb:
    driver: local

networks:
    mysql-network:

services:

  mariadb:
    image: mariadb:latest
    env_file:
      - mysql.env
    expose:
        - "4000"
    ports:
        - "4000:3306"
    volumes:
     - mariadb:/var/lib/mysql
    networks:
      mysql-network:

  phpmyadmin:
    image: phpmyadmin
    restart: always
    expose:
      - "8081"
    ports:
      - "8081:80"
    environment:
      - PMA_HOST=mariadb
      - PMA_PORT=3306 
    networks:
      mysql-network: